extends layout

block content
    .dashboardheader
        .dashboardleft
            h2 Welcome to PortfolioConcept.
            p PortfolioConcept is aimed at simplfying cryptocurrency portfolio management platforms, while also gamifying/incentivizing adoption of cryptocurrencies in the modern world. A conventient platform to manage your cryptographic assets has never been nearer.
            .websiteAlive 
                i.fa.fa-link
                p Last Ethereum block found on the public blockchain was x seconds ago.
        .dashboardright
    .dashboardfooter
        .dashboardnews
        .dashboardstat