extends layout

block content
    .dashboardheader
        .dashboardleft
            if (!user)
                h2 Welcome to CRYBL.
            else 
                h2 Welcome #{user.name}
            p CRYBL is aimed at simplfying cryptocurrency portfolio management platforms, while also gamifying/incentivizing adoption of cryptocurrencies in the modern world. A conventient platform to manage your cryptographic assets has never been nearer.
            .websiteAlive 
                i.fa.fa-link
                p Current Ethereum block height on the public blockchain is #{blockcypher.height}.
            .websiteAlive
                i.fa.fa-th-large
                p Current Ethereum transaction backlog is at #{blockcypher.unconfirmed_count} blocks.
        .dashboardright
    .dashboardfooter
        .dashboardleaderboard
            h4 Ethereum Market vs Futures
            .ct-chart.ct-major-eleventh
        .dashboardstat
            h4 Current Market Dominance
            .ct-chart2.ct-octave

