doctype html
head
  title= title
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
body
  .indexheader
    .indexmenu
      .indexlogo 
        h2 VimFolio
      .indexnav
        ul
          li.signup
            a(href="") Sign Up
          li.login 
            a(href="") Login
          li 
            a(href="") Contact
          li 
           a(href="") News
          li 
           a(href="") About
          li 
           a(href="") Home
    .indexheadertext 
      h1 Some bs about us and our product that makes the audience think.
      button(href="")
        i.fa.fa-arrow-down
    .indexheadermidimages
        img#image(src="/images/eth.svg")
        img#image(src="/images/fun.svg")
        img#image(src="/images/neo.svg")