doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css')
    script(src='https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js')
  body
    div.header
      div.sidebarbutton
        a.sidebarlink(href='#')
          i.fa.fa-bars.sidebarexpand
      .profile
        if (!user)
          button.actionbutton#buttonone(onclick="window.location.href='/register'")
            i.fa.fa-user.showme  
            p.hideme Register
          button.actionbutton#buttontwo(onclick="window.location.href='/login'")
            i.showme.fa.fa-sign-in
            p.hideme Login
        if (user) 
          img.profilepic(src='https://i.imgur.com/d8NA4Am.png')
          h4.username #{user.name}
          button.logoutbutton(onclick="window.location.href='/logout'")
            i.fa.fa-sign-in
      .alertsection
        a(href='')
          i.fa.fa-bell-o
    div.sidebar
      if (page_name === 'dashboard')
        a.barlink(href="/dashboard")
          i.fa.fa-home.working
      else
        a.barlink(href="/dashboard")
          i.fa.fa-home
      if (page_name === 'list')
        a.barlink(href="/list")
          i.fa.fa-archive.working
      else 
        a.barlink(href="/list")
          i.fa.fa-archive
      if (page_name === 'market')
        a.barlink(href="/market")
          i.fa.fa-line-chart.working
      else
        a.barlink(href="/market")
          i.fa.fa-line-chart
      if (page_name === 'news')
        a.barlink(href="/news")
          i.fa.fa-newspaper-o.working
      else
        a.barlink(href="/news")
          i.fa.fa-newspaper-o
      if (page_name === 'wallet')
        a.barlink(href="/wallet")
          i.fa.fa-credit-card.working
      else
        a.barlink(href="/wallet")
          i.fa.fa-credit-card
      if (page_name === 'leaderboard')
        a.barlink(href="/leaderboard")
          i.fa.fa-bullseye
      else
        a.barlink(href="/leaderboard")
          i.fa.fa-bullseye


    div.container
      div.content
        block content
    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js')
    script(src='/javascripts/api.js')
    script(src='/javascripts/graph.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')