extends layout

block content
    .leaderboardheader
        h1 Leaderboard
        h4 By using a smart contract system backed on the Ethereum platform we provide incentives to our monthly top performers, trustlessly.
    .leaderboardfloat
        .topcontender
            .imagecontender#imageone
            .namecontender
                h3 Justin Sun
                h6 Member since 01/20/2018
            .hashcontender
                p 0x60dfe511ef939e25843471e34E856E5b2e07C92A
                p.center +224.70%
        .topcontender
            .imagecontender#imagetwo
            .namecontender
                h3 Roseline Sa
                h6 Member since 01/20/2018
            .hashcontender
                p 0x76BC9E61A1904B82CbF70d1fd9C0f8a120483BbB
                p.center +203.11%
        .topcontender
            .imagecontender#imagethree
            .namecontender
                h3 Nga Wahl
                h6 Member since 01/20/2018
            .hashcontender
                p 0x6f46cf5569aefa1acc1009290c8e043747172d89
                p.center +198.71%
        .topcontender
            .imagecontender#imagefour
            .namecontender
                h3 Glen Dao
                h6 Member since 01/20/2018
            .hashcontender
                p 0x90e63c3d53e0ea496845b7a03ec7548b70014a91
                p.center +194.33%
        .topcontender
            .imagecontender#imagefive
            .namecontender
                h3 Penny Cris
                h6 Member since 01/20/2018
            .hashcontender
                p 0xab7c74abc0c4d48d1bdad5dcb26153fc8780f83e
                p.center +187.54%
        .topcontender
            .imagecontender#imagesix
            .namecontender
                h3 Sacha Dowe
                h6 Member since 01/20/2018
            .hashcontender
                p 0x53d284357ec70ce289d6d64134dfac8e511c8a3d
                p.center +170.21%
        .topcontender
            .imagecontender#imageseven
            .namecontender
                h3 Vitalik Bu
                h6 Member since 01/20/2018
            .hashcontender
                p 0xf4b51b14b9ee30dc37ec970b50a486f37686e2a8
                p.center +131.12%
        .topcontender
            .imagecontender#imageeight
            .namecontender
                h3 Saurik Free
                h6 Member since 01/20/2018
            .hashcontender
                p 0xe853c56864a2ebe4576a807d26fdc4a0ada51919
                p.center +128.22%
        .topcontender
            .imagecontender#imagenine
            .namecontender
                h3 Dustin Tor
                h6 Member since 01/20/2018
            .hashcontender
                p 0xfbb1b73c4f0bda4f67dca266ce6ef42f520fbb98
                p.center +124.91%
        .topcontender
            .imagecontender#imageten
            .namecontender
                h3 Reggie Chiu
                h6 Member since 01/20/2018
            .hashcontender
                p 0xde0b295669a9fd93d5f28d9ec85e40f4cb697bae
                p.center +119.17%
        