extends layout

//block content
    .listHeader
        h3 Top Cryptocurrencies (24 Hours)
        p The following are the top cryptocurrencies which (ranked from largest marketcap to least marketcap). Information is updated every five minutes.
    .topcrypto
        .rank 
            h3 #{cmc.name}
        .name
            h4
        .price
            h4
        .marketcap 
            h4
        .percentchange
            h4 
    .marketStatHeader
        h3 Top Cryptocurrency Stats (24 hours)
        p The following are the statistical values for the top cryptocurrencies in the last 24 hours.