extends layout

block content   
    .marketoverlay
        .markettext
            h1 Get started trading.
            h4 With our intuitive application interface (connected to the Binance platform), it's easy to get started trading on the largest crypto-currency markets in minutes.
        .currencyfeature
            .svgimage
            .featuretext
            .featurebutton
        .currencyfeature
        .currencyfeature
        .currencyfeature
        .currencyfeature
        .currencyfeature
