extends layout

block content
    .transactionhistory
        table
            
    .payments
        .valuedeposit 
            h1 $23,950
            h6 Current Balance
            form(action="")
                input(type="text", placeholder="Enter an amount.")
            .favic
                fa.fa.fa-arrow-right
            button(href='#') ADD FUNDS
            .aspirations
                img(src='https://i.imgur.com/VeUWtmI.png')
        .quickpay