@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
body {
  background-color: #F5F6FA;
  font-family: 'Montserrat', sans-serif;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.content {
  padding-top: 50px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 20px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

#inputEmail {
  border-radius: 2.7px;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-radius: 2.7px;
}

.form-signin input[type="password"] {
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 2.7px;
}

.header {
  height: 60px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #DDE3E6;
  position: fixed;
  width: 100vw;
}
block {

}
.sidebar {
  width: 60px;
  background-color: #FFFFFF;
  position: fixed;
  top: 60px;
  left: 0px;
  height: calc(100vh - 60px);
  border-right: 1px solid #DDE3E6;
  padding-top: 75px;
}

.sidebarbutton {
  width: 60px;
  height: 60px;
  float: left;
  border-right: 1px solid #DDE3E6;
  color: #D3D7DF;
}

.sidebarlink {
  height: 20px;
  font-size: 18px;
  color: #D3D7DF;
}

.sidebarexpand {
  padding-top: 21px;
  margin-left: 21px;
  color: #D3D7DF;
}

.sidebarexpand:hover {
  color: #4980F9;
}

.barlink {
  width: 60px;
  height: 60px;
  font-size: 18px;
}

.barlink>i {
  height: 60px;
  width: 60px;
  padding-top: 21px;
  padding-left: 21px;
  color: #D3D7DF;
}

.barlink>i:hover {
  color: #4980F9;
}

.working {
  color: #4980F9 !important;
  border-right: 2px solid #4980F9;
}

.profile {
  width: 250px;
  height: 60px;
  float: right;
  border-left: 1px solid #DDE3E6;
}

.alertsection {
  width: 60px;
  height: 60px;
  float: right;
  border-left: 1px solid #DDE3E6;
  font-size: 18px;
}

.alertsection>a {
  height: 60px;
  width: 60px;
  color: #D3D7DF;
}

.alertsection>a>i {
  padding-top: 21px;
  padding-left: 21px;
}

.alertsection>a:hover {
  color: #4980F9;
}

.actionbutton {
  height: 35px;
  width: 100px;
  border-radius: 2.7px;
  background-color: #4980F9;
  border: none;
  margin-left: 16.66px;
  margin-top: 12.5px;
  color: #ffffff;
  font-size: 15px;
}

.loginbutton {
  height: 35px;
  width: 220px;
  border-radius: 2.7px;
  background-color: #4980F9;
  border: none;
  margin-top: 0px;
  color: #ffffff;
  font-size: 15px;
}

.actionbutton>i {
  position: absolute;
  font-size: 20px;
  margin-top: -10px;
  margin-left: -10px;
  display: none;
}

#buttonone>p {
  float: left;
  font-family: 'Montserrat', sans-serif;
  margin-top: 6px;
  margin-left: 11px;
}

#buttonone>i {
  margin-left: -7.5px;
}

#buttontwo>i {
  margin-left: -11px;
}

#buttontwo>p {
  float: left;
  font-family: 'Montserrat', sans-serif;
  margin-top: 6px;
  margin-left: 21px;
}

.actionbutton:hover>.hideme {
  display: none !important;
}

.actionbutton:hover>.showme {
  display: inline-block !important;
}
.username {
  float: left;
  margin-top: 22px;
}
.logoutbutton {
  float: left;
  background-color: #4980F9;
  color: #ffffff;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
.registerpane {
  width: 700px;
  height: 450px;
  background-color: #ffffff;
  border-radius: 12px;
  margin-top: calc(50vh - 255px);
  margin-left: calc(45vw - 380px);
  z-index: -999;
}
.leftpane {
  width: 350px;
  height: 450px;
  float: left;
  background-color: #4980F9;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.rightpane {
  width: 350px;
  height: 450px;
  float: left;
}
.dashboardheader {
  width: calc(100vw - 170px);
  height: 40vh;
  margin-top: 30px;
  background-color: #FEFEFE;
  border-radius: 10px;
  border: 1px solid #DDE3E6;
  padding-left: 30px;
}
.dashboardfooter {
  width: calc(100vw - 170px);
  height: 40vh;
}
.dashboardleaderboard {
  width: 60%;
  height: 41vh;
  margin-top: 15px;
  background-color: #FEFEFE;
  border-radius: 10px;
  border: 1px solid #DDE3E6;
  float: left;
  padding-left: 10px;
  padding-top: 5px;
}
.dashboardleaderboard>h4 {
  padding-left: 20px;
  margin-bottom: -5px;
}
.dashboardstat {
  width: 38.5%;
  height: 41vh;
  margin-top: 15px;
  margin-left: 15px;
  background-color: #FEFEFE;
  border-radius: 10px;
  border: 1px solid #DDE3E6;
  float: left;  
}
.websiteAlive {
  height: 50px;
  width: 100%;
  background-color: #dff0d8;
  border-radius: 5px;
  padding-top: 15px;
  padding-left: 15px;
  margin-top: 10px;
}
.dashboardleft {
  width: 70%;
  height: 100%;
  float: left; 
  padding-right: 30px;
  padding-top: 5px;
}
.dashboardright {
  width: 30%;
  float: left;
  height: 100%;
  background-image: url(https://i.imgur.com/QKPi7sE.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.websiteAlive>i {
  font-size: 20px;
  float: left;
}
.websiteAlive>p {
  font-size: 15px;
  float: left;
  margin-left: 10px;
}
.listHeader {
  width: 45vw;
  height: 125px;
  margin-top: 30px;
  background-color: #FEFEFE;
  border-radius: 10px;
  border: 1px solid #DDE3E6;
  padding-left: 30px;
  float: left;
  padding-top: 5px;
  padding-right: 10px;
}
.marketStatHeader {
  width: 37vw;
  margin-left: calc(45vw + 15px);
  padding-bottom: 20px;
  float: left;
  margin-top: 30px;
  background-color: #FEFEFE;
  border-radius: 10px;
  border: 1px solid #DDE3E6;
  padding-left: 30px;
  padding-top: 5px;
  padding-right: 10px;
  position: fixed;
}
.marketStatHeader>h4 {
  color: #4980F9;
}
.topcrypto {
  width: 45vw;
  height: 80px;
  margin-top: 10px;
  background-color: #FEFEFE;
  border-radius: 10px;
  border: 1px solid #DDE3E6;
  padding-left: 30px;
  float: left;
  padding-top: 5px;
  padding-right: 10px;
}
.rank {
  width: 7%;
  height: 100%;
  float: left;
}
.name{
  width: 23%;
  height: 100%;
  float: left;
  padding-top: 15px;
}
.price {
  width: 20%;
  height: 100%;
  float: left;
  padding-top: 15px;
  padding-left: 10px;
}
.marketcap {
  width: 30%;
  height: 100%;
  float: left;
  padding-top: 15px;
}
.percentchange {
  width: 20%;
  height: 100%;
  float: left;
  padding-top: 15px;
}
.playerprofile  {
  width: 100%;
  height: 3.95vh;
  border-bottom: 1px solid #D3D7DF;
}
.playerrank {
  float: left;
  width: 20%;
}
.playername {
  float: left;
  width: 40%;
}
.playerpercentage {
  float: left;
  width: 40%
}
.transactionhistory {
  width: 70%;
  height: calc(100vh - 90px);
  margin-top: 15px;
  background-color: #FEFEFE;
  border-radius: 10px;
  border: 1px solid #DDE3E6;
  float: left;
  padding-left: 20px;
}
.payments {
  float: left;
  width: calc(30% - 15px);
  height: calc(100vh - 90px);
  margin-top: 15px;
  margin-left: 15px;
}
.valuedeposit {
  height: 48.5%;
  width: 100%;
  background-color: #FEFEFE;
  border-radius: 10px;
  border: 1px solid #DDE3E6;
  padding-left: 20px;
  padding-top: 10px;
}
.valuedeposit>button {
  height: 40px;
  width: 175px;
  border: none;
  background-color: #4980F9;
  border-radius: 25px;
  text-align: left;
  padding-left: 15px;
  color: #ffffff;
  z-index: -999 !important;
  margin-top: 11.7px;
  -webkit-box-shadow: 0px 3px 23px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 3px 23px 0px rgba(0,0,0,0.25);
box-shadow: 0px 3px 23px 0px rgba(0,0,0,0.25);

}
.quickpay {
  height: 48.5%;
  margin-top: 5%;
  width: 100%;
  background-color: #FEFEFE;
  border-radius: 10px;
  border: 1px solid #DDE3E6;
}
.dashboardstat>h4 {
  padding-left: 20px;
  padding-top: 5px;
}
.ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke: #4980F9 !important;
}

.ct-series-b .ct-line,
.ct-series-b .ct-point {
  stroke: rgb(39, 55, 90) !important;
}
/* Pie charts consist of solid slices where you can use this selector to override the default style. */
.ct-series-a .ct-slice-pie {
  background-color: #4980F9;
}

.ct-series-a .ct-line,
.ct-series-a .ct-point {
  background-color: #4980F9 !important;
}
.ct-series-a .ct-area, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-slice-pie {
  fill: #4980F9 !important;
}
.ct-series-b .ct-area, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-slice-pie {
  fill: rgb(39, 55, 90) !important;
}
.ct-series-e .ct-area, .ct-series-e .ct-slice-donut-solid, .ct-series-e .ct-slice-pie {
  fill: rgb(4, 36, 105) !important;
}
.ct-series-c .ct-area, .ct-series-c .ct-slice-donut-solid, .ct-series-c .ct-slice-pie {
  fill: rgb(40, 69, 133) !important;
}
.ct-series-d .ct-area, .ct-series-d .ct-slice-donut-solid, .ct-series-d .ct-slice-pie {
  fill: rgb(100, 132, 199) !important;
}
.ct-label {
  font-size: 12px !important;
}
.ct-chart2 {
  margin-top: -20px;
  height: 90%;
}
.ct-chart {
  margin-top: 5px;
}
.favic {
  background-color: rgb(12, 42, 107);
  height: 34px;
  width: 34px;
  border-radius: 25px;
  color: #ffffff;
  font-size: 17px;
  padding-left: 11px;
  padding-top: 5px;
  margin-left: 138px;
  margin-top: 14.7px;
  position: absolute;
  z-index: 999 !important;
  
}
.valuedeposit>form>input {
  height: 45px;
  width: 90%;
  border: none;
  border: 1px solid #D3D7DF;
  border-radius: 5px;
  margin-top: 10px;
  padding-left: 10px;
}
.radiobutton {
  width: 15%;
  height: 25px;
  float: left;
  margin-right: 10px;
  border: 2px solid rgb(114, 154, 241);
  margin-top: 10px;
  border-radius: 5px;
}
.aspirations {
  width: 100%;
  margin-left: -4.5%;
  height: 25%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 16px;
  display: none;
}
@media screen and (min-width: 1340px) {
  .aspirations {
    display: inline-block !important;
  }
}
.indexheader {
  width: 100vw;
  height: 80vh;
  background-color: #4a18fd88;
  background-blend-mode: multiply;
  background-image: url('https://i.imgur.com/5WQRuHo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.indexmenu {
  width: 70vw;
  margin-left: 20vw;
  height: 80px;
}
.indexlogo {
  width: 20vw;
  height: 100%;
  float: left;
  font-weight: bold;
  color: #ffffff;
  padding-top: 0.5vh;
}
.indexnav {
  width: 45vw;
  height: 100%;
  float: left;
  text-align: right; 
  margin-right: 5vw;
  padding-top: 1.65%;
}
.indexnav>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.indexnav>ul>li>a:hover {
  text-decoration: underline;
}
.signup:hover {
  text-decoration: none !important;
}
.login:hover {
  text-decoration: none !important;
}

.indexnav>ul>li {
  float: right; 
}

.indexnav>ul>li>a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.login {
  border: 1px solid #ffffff;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px; 
  padding-left: 10px;
}
.signup {
  border: 1px solid #ffffff;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px; 
}
.indexheadertext {
  width: 60vw;
  margin-left: 20vw;
  text-align: center;
  font-style: bold;
  color: #ffffff;
  margin-top: 18vh;
}
.indexheadertext>button {
  background-color: transparent;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 2px solid #ffffff;
  font-size: 17px;
  margin-top: 3vh;
}
.indexheadermidimages {
  margin-top: 7.5vh;
  height: 30vh;
  width: 100vw;
  text-align: justify;
}
.percentchange>h4 {
  color: #4980F9;
}
