@import url("https://fonts.googleapis.com/css?family=Raleway:300");
.body {
  font-family: 'Raleway', sans-serif; }

.landingheadimages {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: -1; }

.landinghead {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0; }

.backgroundDiv {
  z-index: -2;
  position: absolute;
  width: 100%;
  height: 110%;
  top: -100px;
  -webkit-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  transform: skewY(-3deg);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E0E0E0));
  background-image: -webkit-linear-gradient(#FFFFFF, #E0E0E0);
  background-image: -o-linear-gradient(#FFFFFF, #E0E0E0);
  background-image: linear-gradient(#FFFFFF, #E0E0E0); }

.rightHeaderImage {
  width: 50%;
  position: absolute;
  top: -450px;
  right: -100px; }

.leftHeaderImage {
  width: 53%;
  position: absolute;
  bottom: 0; }

.header {
  width: 100%;
  z-index: 999;
  height: 70px; }
  .header .leftHeader {
    width: 40%;
    margin-left: 10%;
    height: 100%;
    float: left; }
    .header .leftHeader .logoImg {
      float: left;
      margin-top: 10px; }
    .header .leftHeader .sideTextDiv {
      float: left;
      margin-top: 10px;
      font-size: 15px;
      line-height: 70px;
      padding-left: 15px; }
  .header .rightHeader {
    width: 50%;
    height: 100%;
    float: left;
    padding-top: 17px;
    padding-right: 50px;
    font-size: 15px; }
    .header .rightHeader .menu {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      float: right; }
      .header .rightHeader .menu li {
        float: left; }
        .header .rightHeader .menu li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none; }
        .header .rightHeader .menu li a:hover {
          text-decoration: underline; }
      .header .rightHeader .menu .contactbutton {
        border: 1px solid #ffffff;
        border-radius: 25px 0px 0px 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 3px;
        margin-left: 10px; }
      .header .rightHeader .menu .contactbutton:hover {
        text-decoration: none;
        background-color: #665cd6; }
      .header .rightHeader .menu .contactbutton2 {
        border: 1px solid #ffffff;
        border-radius: 0px 25px 25px 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 3px; }
      .header .rightHeader .menu .contactbutton2:hover {
        text-decoration: none;
        background-color: #665cd6; }

.alignmentMiddleSection {
  margin-top: 18vh; }
  .alignmentMiddleSection h5 {
    color: #B8B8BC; }
  .alignmentMiddleSection h1 {
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 1%;
    line-height: 50px;
    font-size: 35px;
    margin-top: -1%; }

.alignmentSection {
  margin-top: 20vh;
  padding-left: 10px; }

#email {
  font-size: 16px;
  height: 50px;
  width: 80%;
  border-radius: 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  float: left;
  padding-right: 50px;
  border: none; }

#send {
  float: left;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  border: none;
  margin-left: -45px;
  margin-top: 5px;
  color: #ffffff;
  background-color: #FFA455; }

.middleSection {
  position: relative; }

.floatunder {
  margin-left: -30%;
  z-index: -25; }

.nextSection {
  width: 100vw;
  height: 50vh;
  position: relative; }

.imageSection {
  z-index: -1; }

.leftHeaderRotatedImage {
  width: 53%;
  position: absolute;
  -webkit-transform: scaley(-1);
  -ms-transform: scaley(-1);
  transform: scaley(-1);
  top: 0;
  left: 0;
  margin-top: -1%; }

.imageAboutSection {
  height: 50vh;
  text-align: center; }
  .imageAboutSection img {
    float: right;
    border-radius: 5px;
    border: 5px solid #fefefe;
    -webkit-box-shadow: 0px 0px 45px 2px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 45px 2px rgba(0, 0, 0, 0.45); }

.aboutSection {
  text-align: right; }
  .aboutSection h1 {
    padding-right: 3.5vw; }
  .aboutSection h5 {
    padding-right: 3.5vw; }
  .aboutSection p {
    padding-right: 3.5vw; }

.stackSection {
  margin-top: 3%;
  text-align: center; }
  .stackSection h5 {
    color: #B8B8BC; }

.stackCardsSection {
  text-align: center; }

.stackCard {
  width: 300px;
  background-color: #fefefe;
  height: 340px;
  text-align: left;
  border-radius: 2.7px;
  -webkit-box-shadow: 0px 0px 45px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 45px 2px rgba(0, 0, 0, 0.35);
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px; }
  .stackCard .stackHeader {
    margin-top: 5%;
    text-align: center; }
    .stackCard .stackHeader h4 {
      color: #5A6FD9; }
    .stackCard .stackHeader p {
      padding-left: 7.5%;
      padding-right: 7.5%; }
  .stackCard .lang {
    width: 100%;
    padding-left: 10%;
    padding-top: 3%; }
    .stackCard .lang i {
      float: left;
      font-size: 25px; }
    .stackCard .lang p {
      float: left;
      padding-left: 10%;
      font-size: 17px; }
  .stackCard .lang:hover {
    background-color: #5a6FD9; }
    .stackCard .lang:hover i {
      color: #fefefe; }
    .stackCard .lang:hover p {
      color: #fefefe; }

.quoteButton {
  border: 1px solid #5a6FD9;
  background-color: #5a6FD9;
  border-radius: 30px;
  color: #ffffff;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 30%; }

.quoteButton:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #665cd6; }

.buttonContainer {
  padding: none;
  margin: 0; }

#mainButton {
  margin-top: 10px; }

#mainText {
  font-size: 50px; }

#mainSubtext {
  color: #484C63;
  padding-right: 10%; }

#BTCTicker {
  position: absolute;
  top: -100px;
  right: -670px;
  height: 160px; }

#ETHTicker {
  position: absolute;
  top: -50px;
  right: -300px;
  height: 160px; }

#NEOTicker {
  position: absolute;
  top: 190px;
  right: -230px;
  height: 160px; }

#FUNTicker {
  position: absolute;
  top: 140px;
  right: -550px;
  height: 160px; }

.tickerShadow {
  -webkit-filter: drop-shadow(5px 5px 5px #333);
  filter: drop-shadow(5px 5px 5px #333); }

#smallRectangle {
  position: absolute;
  top: 350px;
  right: -530px;
  z-index: -1; }

#smallRectangle2 {
  position: absolute;
  top: 100px;
  right: -230px;
  z-index: -1; }

body {
  background-color: #FEFEFE;
  overflow-x: hidden;
  overflow-y: hidden; }
